version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: dev.Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./:/app # Mount code for hot reloading
      - /app/node_modules
    networks:
      - app_network
    env_file:
      - ./.env

# Define the custom network
networks:
  app_network:
    driver: bridge